<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ pagecss }}" media="screen">
    <link rel="stylesheet" href="{{ reg }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ jquery }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ pagejs }}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Yandex-durochki",
        "name": "Сплайс.рф",
        "logo": "{{ mmpng }}"
    }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="reg">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>
<body data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="ru">
<header class="u-clearfix u-header u-sticky u-header" id="sec-e8ac">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="main" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="426" title="Главная">
            <img src="{{ mmpng }}" class="u-logo-image u-logo-image-1">
        </a>
        <a href="login"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">Войти</a>
    </div>
    <style class="u-sticky-style" data-style-id="da95">.u-sticky-fixed.u-sticky-da95, .u-body.u-sticky-fixed .u-sticky-da95 {
box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important
}.u-sticky-fixed.u-sticky-da95:before, .u-body.u-sticky-fixed .u-sticky-da95:before {
borders: top right bottom left !important
}
    </style>
</header>
<section class="u-clearfix u-section-1" id="sec-c866">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<form class="loginform" method="post">
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username" required><br><br>
    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="tguse">Telegram:</label>
    <input type="text" id="tguse" name="tguse" required><br><br>

    <label for="name">Ваше имя:</label>
    <input type="text" id="name" name="name" required><br><br>

    <div class="form-group">
        <label for="classSelect">Возраст</label>
        <select class="form-control" id="classSelect" name="age">
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30+</option>

        </select>
    </div><br>

    <label for="address">Ваш адрес, район:</label>
    <input type="text" id="address" name="address" required><br><br>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked="">
        <label class="form-check-label" for="male">Мужской</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="female" value="female">
        <label class="form-check-label" for="female">Женский</label>
    </div>

    <input type="submit" value="Регистрация">
</form>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fde">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">©Yandex-durochki​. 2024</p>
    </div>
</footer>

</body>
</html>